:root {
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --messages-background: hsla(0, 0%, 0%, 0.85);

  --messages-margin: 1rem;
  --message-user-color: var(--white);
}

body {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  margin: 0;
  background-color: var(--white);
  color: var(--white);
}

#messages-container {
  width: 100%;
  background-color: var(--messages-background);
}

#messages {
  max-height: calc(100vh - 2 * var(--messages-margin));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  font-family: "Noto Sans Mono";
}

#messages:not(:empty) {
  margin: 1rem;
}

.message {
  margin: 0;
}

.message:not(:first-child) {
  margin-top: 0.75em;
}

.message .user {
  color: var(--message-color);
  margin-right: 0.25em;
}

.message .user::after {
  content: ":~$";
  color: var(--white);
}

.message .user.mod-user::after {
  content: ":~#";
}
